{% extends 'main.html' %}
{% block content %}

    <div style="margin-top: 2px">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'index_dataset' %}">Данные</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'index_management' %}">Управление</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="{% url 'cabinet' %}">Личный кабинет</a>
      </li>
    </ul>
</div>

<br>
<div class="alert alert-primary" role="alert">
  Личный кабинет
</div>

<table class="table">
    <tr>
        <td>
            <form>
                <div class="form-group mb-2">
                    <label for="name">Имя</label>
                    <input type="text" class="form-control" id="name">
                </div>
                <div class="form-group mb-2">
                    <label for="surname">Фамилия</label>
                    <input type="text" class="form-control" id="surname">
                </div>
                <div class="form-group mb-2">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" id="email">
                </div>
                <div class="form-group mb-2">
                    <span>Последнее посещение: </span>
                </div>
                <div class="form-group mb-2">
                    <input type="submit" value="Обновить" class="btn btn-primary"/>
                </div>
            </form>
        </td>
        <td>
            <form action="change_password" method="post">
                {% csrf_token %}
                <div class="form-group mb-2">
                    <label for="name">Новый пароль</label>
                    <input type="text" class="form-control" id="password" name="password">
                </div>
                <div class="form-group mb-2">
                    <label for="surname">Подтверждение пароля</label>
                    <input type="text" class="form-control" id="password2">
                </div>
                <div class="form-group mb-2">
                    <input type="submit" value="Обновить" class="btn btn-primary"/>
                </div>
            </form>
        </td>
    </tr>
</table>


{% endblock %}