{% extends "main.html" %}

{% block content %}

<br>

<div class="card bg-light">
  <div class="card-header">
    Программное обеспечение для анализа данных промышленных манипуляторов
  </div>
  <div class="card-body">
    <p class="card-text">
        <strong>Объект исследований</strong>: приводы промышленных манипуляторов
    </p>
    <p class="card-text">
        <strong>Цель исследований</strong>: выявление аномальных данных и прогнозирование работоспособности промышленных манипуляторов на основе анализа исторических данных
    </p>
    <p class="card-text">
        <strong>Методы исследований</strong>: для анализа данных реализованы и применены методы статистики и машинного обучения
    </p>
  </div>
</div>

{% endblock %}