{% extends "main.html" %}

{% block content %}

<br>

<table class="table table-sm table-hover">
    <tr>
        <td colspan="2">
            <strong>Общество с ограниченной ответственностью "Инспаир-технологии"</strong>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <strong>ООО "Инспаир-технологии"</strong>
            <br>
            <font size="2">Предприятие является субъектом малого предпринимательства и соответствует требованиям Федерального Закона от 24.07.2007 г. №209-ФЗ "О развитии малого и среднего предпринимательства в РФ"</font>
        </td>
    </tr>
    <tr>
        <td>
            <strong>ИНН/КПП</strong>
        </td>
        <td>
            7017461845 / 701701001
        </td>
    </tr>
    <tr>
        <td>
            <strong>Код ОГРН</strong>
        </td>
        <td>
            1197031059444
        </td>
    </tr>
    <tr>
        <td>
            <strong>Дата выдачи ОГРН</strong>
        </td>
        <td>
            11.07.2019
        </td>
    </tr>
    <tr>
        <td>
            <strong>ОКОПФ</strong>
        </td>
        <td>
            1 23 00-Общества с ограниченной ответственностью
        </td>
    </tr>
    <tr>
        <td>
            <strong>Является иностранным</strong>
        </td>
        <td>
            Нет
        </td>
    </tr>
    <tr>
        <td>
            <strong>Юридический адрес</strong>
        </td>
        <td>
            634063, Томская обл., г. Томск, Ивана Черных ул., д.66, кв.183
        </td>
    </tr>
    <tr>
        <td>
            <strong>Фактический адрес</strong>
        </td>
        <td>
            634063, Томская обл., г. Томск, Ивана Черных ул., д.66, кв.183
        </td>
    </tr>
    <tr>
        <td>
            <strong>Список номеров контактных телефонов</strong>
        </td>
        <td>
            8-960-979-7171 (моб.)
        </td>
    </tr>
    <tr>
        <td>
           <strong>Среднесписочная численность</strong>
        </td>
        <td>
            1
        </td>
    </tr>
    <tr>
        <td>
           <strong>Руководитель предприятия</strong>
        </td>
        <td>
            Директор Михалевич Сергей Сергеевич
        </td>
    </tr>
    <tr>
        <td>
           <strong>Действует на основании</strong>
        </td>
        <td>
            Устава
        </td>
    </tr>
    <tr>
        <td>
           <strong>Электронная почта</strong>
        </td>
        <td>
            <a href="mailto:anopt@ya.ru">anopt@ya.ru</a>
        </td>
    </tr>
    <tr>
        <td>
           <strong>Банковские реквизиты</strong>
        </td>
        <td>
            Р/сч 40702810574800000074<br>
            СИБИРСКИЙ ФИЛИАЛ ПАО РОСБАНК<br>
            КРАСНОЯРСК<br>
            БИК 040407388<br>
            К/с 30101810000000000388
        </td>
    </tr>
</table>

{% endblock %}
