{% extends "main.html" %}

{% block content %}

<br>

<div class="row">
    <div class="col-sm-6">

<div class="card bg-light">
  <div class="card-body">
    <h5 class="card-title">
        Томский политехнический университет
    </h5>
    <p class="card-text">
        Научно-образовательная лаборатория промышленной робототехники
    </p>
    <p class="card-text">
        Инженерная школа информационных технологий и робототехники
    </p>
    <hr>
    <a href="mailto:asg@.ru" class="card-link"  data-toggle="tooltip" data-placement="bottom" title="asg@.ru">Техническая поддержка</a>
    <a href="mailto:miha@.ru" class="card-link"  data-toggle="tooltip" data-placement="bottom" title="miha@.ru">Коммерческие предложения</a>
  </div>
</div>

  </div>
  <div class="col-sm-6">

<div class="card bg-light">
  <div class="card-body">
    <h5 class="card-title">
        Tomsk Polytechnic University
    </h5>
    <p class="card-text">
        Scientific and Research Laboratory of Industrial Robotics
    </p>
    <p class="card-text">
        School of Computer Science & Robotics
    </p>
    <hr>
    <a href="mailto:asg@.ru" class="card-link"  data-toggle="tooltip" data-placement="bottom" title="asg@.ru">Technical support</a>
    <a href="mailto:miha@.ru" class="card-link"  data-toggle="tooltip" data-placement="bottom" title="miha@.ru">Commercial offers</a>
  </div>
</div>
</div>
</div>

{% endblock %}
