{% extends "main.html" %}

{% block content %}

<br>

<table class="table table-sm table-hover">
    <tr>
        <td colspan="2">
            <strong>Общество с ограниченной ответственностью "Инспаир-технологии"</strong>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <strong>ООО "Инспаир-технологии"</strong>
            <br>
            <font size="2">Предприятие является субъектом малого предпринимательства и соответствует требованиям Федерального Закона от 24.07.2007 г. №209-ФЗ "О развитии малого и среднего предпринимательства в РФ"</font>
        </td>
    </tr>

</table>

{% endblock %}
