{% extends "main.html" %}

{% block content %}

<div style="margin-top: 10px">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="{% url 'index_dataset' %}">Данные</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'index_management' %}">Управление</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Личный кабинет</a>
      </li>
    </ul>
</div>


{% block data_set_content %}

{% endblock %}


{% endblock %}