{% extends "data_set/index.html" %}

{% block data_set_content %}

<div style="margin-top: 10px">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'index_dataset' %}">Обучение модели</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="{% url 'model_test' %}">Тестирование модели</a>
      </li>
    </ul>
</div>

<table class="table table-sm">
    <tr>
        <td>
            <div class="alert alert-warning" role="alert">
                Получение выборки данных
            </div>

            <form>

              <div class="form-group mb-2">
                <label for="inputId">ID прибора</label>
                <input type="number" class="form-control" id="inputId">
              </div>
              <div class="form-group mb-2">
                <label for="inputTimeStart">Время начала измерений</label>
                <input type="datetime-local" class="form-control" id="inputTimeStart">
              </div>
              <div class="form-group mb-2">
                <label for="inputTimeFinish">Время конца измерений</label>
                <input type="datetime-local" class="form-control" id="inputTimeFinish">
              </div>
              <button type="submit" class="btn btn-primary">Получить набор данных</button>
            </form>
        </td>
        <td>
            <div class="alert alert-primary" role="alert">
                Выбор модели
            </div>

            <form>

               <div class="form-group mb-2">
                <label for="modelSelect">Обученные модели</label>
                <select multiple class="form-control" id="modelSelect">
                  <option>Модель 1 (метод: Random forest)</option>
                  <option>Модель 2 (метод: какой-то)</option>
                  <option>3</option>
                </select>
              </div>

            </form>
        </td>
    </tr>
</table>


{% endblock %}