{% extends "data_set/index.html" %}

{% block data_set_content %}

<div style="margin-top: 10px">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'index_dataset' %}">Загрузка данных</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="{% url 'model_training' %}">Обучение модели</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'model_test' %}">Тестирование модели</a>
      </li>
    </ul>
</div>

<div class="alert alert-primary" role="alert">
    Выбор метода
</div>

<form method="POST" action="model_train">
    {% csrf_token %}
   <div class="form-group mb-2">
    <label for="methodSelect">Методы машинного обучения</label>
    <select multiple class="form-control" id="methodSelect" name="methodSelect">
      <option value="dbscan">DBSCAN</option>
    </select>
  </div>
  <div>
      Выбор полей для обучения модели:
      <p>
        {% for column in dataset_description %}
            <input type="checkbox" name="model_columns" value="{{ column }}">
            {{ column }}
            <br>
        {% endfor %}
        </p>
  </div>

  <button type="submit" class="btn btn-success">Обучить модель</button>
</form>

{% if model_description %}

<div class="form-group mb-2">
    <b>Детали модели:</b>
    <br>
    {{ model_description }}
    <br>
    <b>Время обучения:</b>
    <span>{{ time_to_train }} сек.</span>
</div>

<a href="{% url 'vis_dbscan' %}" target="_blank" class="btn btn-primary">Визуализация результата</a>
{% endif %}

{% endblock %}