{% extends "data_set/index.html" %}

{% block data_set_content %}

<div style="margin-top: 2px">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'index_dataset' %}">Загрузка данных</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'model_training' %}">Обучение модели</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="{% url 'model_testing' %}">Тестирование модели</a>
      </li>
    </ul>
</div>

<table class="table table-sm">
    <tr>
        <form>
        <td style="width: 40%">

            <div class="alert alert-success" role="alert">
                Выборка данных
            </div>

            <div class="form-group mb-2">
                <label for="datasetSelect">Выборки данных</label>
                <select multiple class="form-control" id="datasetSelect">
                  {% for sample in samples %}
                        <option>
                            <span>{{ sample.id }}: {{ sample.count }} строк</span>
                        </option>
                    {% endfor %}
                </select>
            </div>


        </td>
        <td style="width: 60%">
            <div class="alert alert-primary" role="alert">
                Выбор модели
            </div>


              <div class="form-group mb-2">
                <label for="modelSelect">Обученные модели</label>
                <select multiple class="form-control" id="modelSelect">
                    {% for model in models %}
                        <option>
                            <span>{{ model.id }}: метод {{ model.name }}, {{ model.created_time }}</span>
                        </option>
                    {% endfor %}
                </select>
              </div>

            <button type="submit" class="btn btn-success">Тестирование модели</button>
            <hr>

            <div class="form-group mb-4">
                <label>Результаты тестирования:</label>
                <br>
                <input type="textarea" readonly placeholder="Результат"/>
            </div>
        </td>
        </form>
    </tr>
</table>



{% endblock %}