{% extends "data_set/index.html" %}

{% block data_set_content %}

<div style="margin-top: 2px">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'index_dataset' %}">Загрузка данных</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="{% url 'model_training' %}">Обучение модели</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'model_testing' %}">Тестирование модели</a>
      </li>
    </ul>
</div>


<form method="POST" action="model_train">
    {% csrf_token %}


    <div class="accordion" id="accordionExample">
      <div class="card">
        <div class="card-header alert alert-success" id="headingOne">
          <h2 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Обучение без учителя
            </button>
          </h2>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">

              <div class="form-group mb-2">
                <select multiple class="form-control" id="methodSelect1" name="methodSelect">
                  <option value="dbscan" onclick="choose_method('dbscan')">DBSCAN</option>
                  <option value="kmeans" onclick="choose_method('kmeans')">K-means</option>
                  <option value="birch" onclick="choose_method('birch')">BIRCH</option>
                  <option value="aggclust" onclick="choose_method('aggclust')">Hierarchical Agglomerative Clustering</option>
                </select>
              </div>

          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header alert alert-success" id="headingTwo">
          <h2 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Обучение с учителем
            </button>
          </h2>
        </div>
        <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">

              <div class="form-group mb-2">
                <select multiple class="form-control" id="methodSelect2" name="methodSelect">
                  <option value="GaussianProcessRegressor" onclick="choose_method('GaussianProcessRegressor')">GaussianProcessRegressor</option>
                  <option value="RandomForestRegressor" onclick="choose_method('RandomForestRegressor')">RandomForestRegressor</option>
                </select>
              </div>

          </div>
        </div>
      </div>
    </div>
    <br>

    <table class="table">
        <tr>
            <td>

                <div  id="dbscan_params">
                     <div class="alert alert-info " role="alert">
                         <h6>Параметры модели:</h6>
                        <br>
                        <div class="input-group input-group-sm mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text">eps</span>
                          </div>
                          <input type="text" class="form-control" aria-label="Sizing example input" name="eps" placeholder="0.5" value="0.5">
                          <div class="input-group-prepend">
                            <span class="input-group-text">min_samples</span>
                          </div>
                          <input type="text" class="form-control" aria-label="Sizing example input" name="min_samples" placeholder="2" value="2">
                        </div>
                    </div>
                </div>

                <div  id="kmeans_params">
                    <div class="alert alert-info " role="alert">
                        <h6>Параметры модели:</h6>
                        <br>
                        <div class="input-group input-group-sm mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text">n_clusters</span>
                          </div>
                          <input type="text" class="form-control" aria-label="Sizing example input" name="n_clusters" placeholder="20" value="20">
                          <div class="input-group-prepend">
                            <span class="input-group-text">n_init</span>
                          </div>
                          <input type="text" class="form-control" aria-label="Sizing example input" name="n_init" placeholder="10" value="10">
                        </div>
                    </div>
                 </div>

                <div  id="birch_params">
                    <div class="alert alert-info " role="alert">
                        <h6>Параметры модели:</h6>
                        <br>
                        <div class="input-group input-group-sm mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text">n_clusters</span>
                          </div>
                          <input type="text" class="form-control" aria-label="Sizing example input" name="birch_clusters" placeholder="3" value="3">
                        </div>
                    </div>
                </div>

                <div  id="agg_params">
                    <div class="alert alert-info " role="alert">
                        <h6>Параметры модели:</h6>
                        <br>
                        <div class="input-group input-group-sm mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text">n_clusters</span>
                          </div>
                          <input type="text" class="form-control" aria-label="Sizing example input" name="agg_clusters" placeholder="2" value="2">
                        </div>
                    </div>
                </div>

                <div  id="rforest_params">
                    <div class="alert alert-info " role="alert">
                        <h6>Параметры модели:</h6>
                        <br>
                        <div class="input-group input-group-sm mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text">n_estimators</span>
                          </div>
                          <input type="text" class="form-control" aria-label="Sizing example input" name="n_estimators" placeholder="10" value="10">
                        </div>
                        <div class="input-group input-group-sm mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text">max_depth</span>
                          </div>
                          <input type="text" class="form-control" aria-label="Sizing example input" name="max_depth" placeholder="5" value="5">
                        </div>
                    </div>
                </div>



                <div class="container">
                  <div class="row">
                    <div class="col-sm">
                        {% if dataset_description is not None %}
                        <span>Выбор полей для обучения модели:</span>
                              <p>
                                {% for column in dataset_description %}
                                    <input type="checkbox" name="model_columns" value="{{ column }}">
                                    {{ column }}
                                    <br>
                                {% endfor %}
                              </p>
                            <input type="hidden" id="method_name" name="method_name"/>
                            <button type="submit" class="btn btn-success" onclick="show_modal()">Обучить модель</button>
                        {% endif %}
                    </div>
                    <div class="col-sm"  id="column_train">
                      {% if dataset_description is not None %}

                        <span>Выбор обучающего поля (1 шт.):</span>
                              <p>
                                {% for column in dataset_description %}
                                    <input type="checkbox" name="model_column_train" value="{{ column }}">
                                    {{ column }}
                                    <br>
                                {% endfor %}
                              </p>

                      {% endif %}
                    </div>
                  </div>
                </div>

            </td>
            <Td style="width: 50%">


                {% if model_description is None %}

                    <div class="alert alert-warning" role="alert">
                        <h5 class="alert-heading">Модель еще не создана...</h5>
                    </div>

                {% endif %}

                {% if model_description is not None %}

                <div class="alert alert-success" role="alert">
                    <h5 class="alert-heading">Модель создана и обучена:</h5>
                    <p>
                        {{ model_description }}
                    </p>
                    <hr>
                    {% if metrics is not None %}
                        {% for metric in metrics %}
                            {% for name,value in metric.items %}
                                <span><strong>{{ name }}</strong> : {{ value }}</span>
                                <br>
                            {% endfor %}
                        {% endfor %}
                    <hr>
                    {% endif %}
                    <p>
                        Время обучения: {{ time_to_train }}
                    </p>
                    <hr>
                    <a href="{% url 'vis_model' %}" target="_blank" class="btn btn-primary">Визуализация результата</a>

                    {% if "DBSCAN" in model_description %}
                        <a href="{% url 'get_anomalies' %}" target="_blank" class="btn btn-danger">Список аномалий</a>
                    {% endif %}

                    <hr>

                    {% if connection is None %}
                        <a href="{% url 'save_model' %}" target="_blank" class="btn btn-info disabled">Сохранить модель</a>
                    {% endif %}

                    {% if connection is not None %}
                        <a href="{% url 'save_model' %}" target="_blank" class="btn btn-info">Сохранить модель</a>
                    {% endif %}
                </div>

            {% endif %}
            </Td>
        </tr>
    </table>

</form>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Создание и обучение модели <span id="modal_method"></span></h5>
<div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
              <span class="sr-only"></span>
            </div>
      </div>
    </div>
  </div>
</div>


<script>

    $(function(){ hide_params(); })

    function choose_method(data){
        show_parameters(data);
        $("#method_name").val(data);
    }

    function hide_params(){
            $("#dbscan_params").hide();
            $("#kmeans_params").hide();
            $("#birch_params").hide();
            $("#agg_params").hide();
            $("#column_train").hide();
            $("#rforest_params").hide();
    }

    function show_parameters(data){
        hide_params();

        if (data == "dbscan") {
            $("#dbscan_params").show();
        }
        if (data == "kmeans"){
            $("#kmeans_params").show();
        }
        if (data == "birch"){
            $("#birch_params").show();
        }
        if (data == "aggclust"){
            $("#agg_params").show();
        }
        if (data == "RandomForestRegressor"){
            $("#column_train").show();
            $("#rforest_params").show();
        }
        if (data == "GaussianProcessRegressor"){
            $("#column_train").show();
        }
    }

    function show_modal(){
        $('#modal_method').text($('#method_name').val());
        $('#staticBackdrop').modal('show');
    }

</script>



{% endblock %}