{% extends "data_set/index.html" %}

{% block data_set_content %}

<div style="margin-top: 2px">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'index_dataset' %}">Загрузка данных</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="{% url 'model_training' %}">Обучение модели</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'model_test' %}">Тестирование модели</a>
      </li>
    </ul>
</div>


<form method="POST" action="model_train">
    {% csrf_token %}


    <div class="accordion" id="accordionExample">
      <div class="card">
        <div class="card-header alert alert-success" id="headingOne">
          <h2 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Обучение без учителя
            </button>
          </h2>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">

              <div class="form-group mb-2">
                <select multiple class="form-control" id="methodSelect1" name="methodSelect">
                  <option value="dbscan" onclick="choose_method('dbscan')">DBSCAN</option>
                  <option value="kmeans" onclick="choose_method('kmeans')">K-means</option>
                  <option value="birch" onclick="choose_method('birch')">BIRCH</option>
                  <option value="aggclust" onclick="choose_method('aggclust')">Hierarchical Agglomerative Clustering</option>
                </select>
              </div>

          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header alert alert-success" id="headingTwo">
          <h2 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Обучение с учителем
            </button>
          </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">

              <div class="form-group mb-2">
                <select multiple class="form-control" id="methodSelect2" name="methodSelect">
                  <option value="autoencoder" onclick="choose_method('autoencoder')">Autoencoder</option>
                  <option value="randomforest" onclick="choose_method('randomforest')">RandomForestClassifier</option>
                </select>
              </div>

          </div>
        </div>
      </div>
    </div>
    <br>

    <div  id="dbscan_params">
        Параметры модели:
        <br>
        <div class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">eps</span>
          </div>
          <input type="text" class="form-control" aria-label="Sizing example input" name="eps" placeholder="0.5">
          <div class="input-group-prepend">
            <span class="input-group-text">min_samples</span>
          </div>
          <input type="text" class="form-control" aria-label="Sizing example input" name="min_samples" placeholder="2">
        </div>
    </div>

    <div  id="kmeans_params">
        Параметры модели:
        <br>
        <div class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">n_clusters</span>
          </div>
          <input type="text" class="form-control" aria-label="Sizing example input" name="n_clusters" placeholder="20">
          <div class="input-group-prepend">
            <span class="input-group-text">n_init</span>
          </div>
          <input type="text" class="form-control" aria-label="Sizing example input" name="n_init" placeholder="10">
        </div>
    </div>

    <div  id="birch_params">
        Параметры модели:
        <br>
        <div class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">n_clusters</span>
          </div>
          <input type="text" class="form-control" aria-label="Sizing example input" name="birch_clusters" placeholder="3">
        </div>
    </div>

    <div  id="agg_params">
        Параметры модели:
        <br>
        <div class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">n_clusters</span>
          </div>
          <input type="text" class="form-control" aria-label="Sizing example input" name="agg_clusters" placeholder="2">
        </div>
    </div>

{% if dataset_description is not None %}
      <div>
          Выбор полей для обучения модели:
          <p>
            {% for column in dataset_description %}
                <input type="checkbox" name="model_columns" value="{{ column }}">
                {{ column }}
                <br>
            {% endfor %}
            </p>
      </div>
        <input type="hidden" id="method_name" name="method_name"/>
      <button type="submit" class="btn btn-success">Обучить модель</button>
{% endif %}

</form>


<!--{% if model_description %}
<div class="form-group mb-2">
    <b>Детали модели:</b>
    <br>
    {{ model_description }}
    <br>
    <b>Время обучения:</b>
    <span>{{ time_to_train }} сек.</span>
</div>

<a href="{% url 'vis_model' %}" target="_blank" class="btn btn-primary">Визуализация результата</a>

<a href="{% url 'get_anomalies' %}" target="_blank" class="btn btn-danger">Список аномалий</a>

<a href="{% url 'save_model' %}" target="_blank" class="btn btn-warning">Сохранить модель</a>
{% endif %}-->

<a href="{% url 'vis_model' %}" target="_blank" class="btn btn-primary">Визуализация результата</a>

<a href="{% url 'get_anomalies' %}" target="_blank" class="btn btn-danger">Список аномалий</a>

{% if connection is None %}
<a href="{% url 'save_model' %}" target="_blank" class="btn btn-info disabled">Сохранить модель</a>
{% endif %}

{% if connection is not None %}
<a href="{% url 'save_model' %}" target="_blank" class="btn btn-info">Сохранить модель</a>
{% endif %}

<script>

    $(function(){
            $("#dbscan_params").hide();
            $("#kmeans_params").hide();
            $("#birch_params").hide();
            $("#agg_params").hide();
    })

    function choose_method(data){
        show_parameters(data);
        $("#method_name").val(data);
    }
    function show_parameters(data){
        if (data == "dbscan") {
            $("#dbscan_params").show();
            $("#kmeans_params").hide();
            $("#birch_params").hide();
            $("#agg_params").hide();
        }

        if (data == "autoencoder"){
            $("#dbscan_params").hide();
            $("#kmeans_params").hide();
            $("#birch_params").hide();
            $("#agg_params").hide();
        }

        if (data == "randomforest"){
            $("#dbscan_params").hide();
            $("#kmeans_params").hide();
            $("#birch_params").hide();
            $("#agg_params").hide();
        }

        if (data == "kmeans"){
            $("#kmeans_params").show();
            $("#dbscan_params").hide();
            $("#birch_params").hide();
            $("#agg_params").hide();
        }

        if (data == "birch"){
            $("#kmeans_params").hide();
            $("#dbscan_params").hide();
            $("#birch_params").show();
            $("#agg_params").hide();
        }

        if (data == "aggclust"){
            $("#kmeans_params").hide();
            $("#dbscan_params").hide();
            $("#birch_params").hide();
            $("#agg_params").show();
        }
    }

</script>



{% endblock %}