{% extends "data_set/index.html" %}

{% block data_set_content %}

    <div style="margin-top: 10px">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'index_dataset' %}">Обучение модели</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'model_test' %}">Тестирование модели</a>
          </li>
        </ul>
    </div>

    <table class="table">
        <tr>
            <th>
                Минимальное
            </th>
            <th>
                Среднее
            </th>
            <th>
                Медиана
            </th>
            <th>
                Максимальное
            </th>
            <th>
                Дисперсия
            </th>
            <th>
                Стандартное отклонение
            </th>
        </tr>
        <tr>
            <td>
                {{ min }}
            </td>
            <td>
                {{ mean }}
            </td>
            <td>
                {{ median }}
            </td>
            <td>
                {{ max }}
            </td>
            <td>
                {{ variance }}
            </td>
            <td>
                {{ stdev }}
            </td>
        </tr>

    </table>


{% endblock %}